@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}


.msg-container{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 95px;
    height: 95px;
}


.msg-section-opener{
    height: inherit;
    width: inherit;
    background: #5A5EB9;
    border-radius: 100px;
    /* transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1); */
    transition: all .4s ease-out;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 60%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;

}
.msg-section-opener.hide{
    height: 0;
    width: 0;
    opacity: 0;
    font-size: 0;

}


.msg-section{
    width: 350px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    height: 82vh;
    max-height: 100vh;
    transition: all .4s ease-out;
    box-shadow: 0px 5px 35px 9px #ccc;
    border-radius: 5px;
}
.msg-section.expand{
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
}
.msg-section.hide{
    width: 0;
    height: 0;
    opacity: 0;
}

.msg-section .top-section{
    height: 70px;
    background: #5A5EB9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 15px;
}
.msg-section .top-section .heading{
    font-size: 20px;
    font-weight: 500;
}
.msg-section .top-section .close, .msg-section .top-section .expand-btn{

    font-size: 23px;
    /* font-weight: 300; */
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;

}
#message-opener-icon{
    color: white;
}

.msg-section .bottom-section{

}